.btn {
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #00838f !important;
}

p {
    margin-left: 20px;
    padding: 20px
}

h5 {
    margin-left: 30px;
}

h2 {
    color: white;
    background-color: #00838f;
}