::placeholder { 
    color:black;
    opacity: 1;
  }

.formContent {
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}